@use '/src/styles/constants/colors';

.diaryItem {
  width: 100%;
  margin-bottom: 30px;

  button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    background-color: colors.$WHITE;
    border: 1px solid colors.$GRAYEC;
    border-radius: 10px;

    &:hover {
      border: 1px solid #7651e1;
    }

    .diaryItemTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 20px;
      border-bottom: 1px solid colors.$GRAYEC;

      .userInfoBox {
        display: flex;
        align-items: center;
        justify-content: center;

        .profile {
          width: 28px;
          height: 28px;
          border-radius: 50%;
        }
      }

      span {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .diaryTitle {
    width: 100%;
    padding: 10px;
    text-align: left;
    border-top: 1px solid colors.$GRAYEC;
  }
}
