@use '/src/styles/constants/colors';

.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .icon {
    position: absolute;
    right: 10px;
    bottom: 18px;
    width: 24px;
    height: 24px;
  }

  label {
    margin-bottom: 10px;
    font-size: 14px;
    color: colors.$GRAY4B;
  }

  input {
    padding: 10px 40px 10px 5px;
    margin-bottom: 10px;
    background: colors.$WHITE;
    border-bottom: 1px solid colors.$GRAYE;
  }

  span {
    color: colors.$RED;
  }
}
