@use '/src/styles/constants/colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: colors.$WHITE;
  border-bottom: 1px solid colors.$GRAYE;
  box-shadow: 2px 1px 10px -3px rgba(colors.$BLACK, 10%);

  .homeLink {
    margin-right: 20px;
    font-size: 24px;
    color: colors.$GRAY2;
  }

  .divBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
  }

  .profileBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 300px;
    margin-left: 20px;

    .profile {
      width: 28px;
      height: 28px;
      border: 1px solid colors.$GRAYE;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      margin-left: 10px;
    }

    button {
      padding: 10px;
      margin-left: 10px;
      font-size: 16px;
      border-radius: 8px;

      &:hover {
        color: colors.$WHITE;
        background-color: colors.$MAIN;
        transition: 300ms;
      }
    }

    a {
      padding: 10px;
      margin-left: 10px;
      font-size: 16px;
      color: colors.$BLACK;
      border-radius: 8px;

      &:hover {
        color: colors.$WHITE;
        background-color: colors.$MAIN;
        transition: 200ms;
      }
    }
  }
}
