@use '/src/styles/constants/colors';

.inputBox {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 20px;

  .category {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }

  .desc {
    font-size: 12px;
    color: colors.$GRAYD;
  }

  button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid colors.$GRAYD;
  }
}
