@use '/src/styles/constants/colors';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 640px;
  background-color: colors.$WHITE;
  border-radius: 15px;

  .signContainer {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 20px;
      font-weight: 700;
      color: colors.$GRAY2;
    }

    .form {
      display: flex;
      flex-direction: column;
      margin: 30px 0;

      .inputBox {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
          margin-bottom: 10px;
          margin-left: 8px;
          font-size: 14px;
        }

        input {
          padding: 10px 40px 10px 10px;
          color: colors.$GRAY2;
          background-color: colors.$GRAYFA;
          border: 1px solid colors.$GRAYD;
          border-radius: 8px;
        }
      }

      .signup {
        position: relative;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        height: 32px;
        margin-top: 15px;
        line-height: 1;
        color: colors.$WHITE;
        background-color: colors.$GRAYD;
        border-radius: 4px;
        transition: 0.2s;

        &.active {
          background-color: colors.$GRAY2;
        }
      }
    }
  }
}
